body {
    margin: 0;
    padding: 0;
    position: fixed; /* elimina el scroll */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a {
    text-decoration: none; /* elimina el subrayado de los enlaces */
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icos-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icos-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 20px;
}